#header {
	height: 500px;
	line-height: 500px;
	margin: 0 auto;
	padding: 80px 0 0 0;
	background: #FAFAFA;
	text-align: center;
	vertical-align: middle;
	.site-title {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
}