#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	line-height: 80px;
	background: #fff;
	box-shadow: inset 0 -1px 0 0 #F1F1F1;
	transition: all .2s ease-in-out;
	.fa-bars {
		position: relative;
		font-size: 3.3em;
		margin: 0 20px;
		vertical-align: middle;
		z-index: 2;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .3s ease-in-out;
	}
	ul {
		position: fixed;
		bottom: 0;
		top: 0;
		left: -100%;
		width: 300px;
		background: #fff;
		padding: 80px 0 0 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .3s ease-in-out;
		&.open {
			left: 0;
		}
		li {
			display: block;
			vertical-align: top;
			box-shadow: inset 0 5px 0 0 #fff;
			&:hover {
				background: #8a3232;
				box-shadow: inset 0 5px 0 0 #692323;
			}
			a {
				display: block;
				font-size: 12px;
				color: #8a3232;
				padding: 0 20px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 2px;
				&:hover {
					color: #fff;
					text-shadow: 2px 2px 0 #692323;
				}
			}
		}
	}
	&.light {
		height: 50px;
	    line-height: 50px;
    	box-shadow: 0 0px 5px 0px #F1F1F1;
    	.fa-bars {
    		font-size: 2em;
    	}
    	ul {
			padding: 50px 0 0 0;
    		li {
    			a {

    			}
    		}
    	}
	}
}

@media only screen and (min-width: 768px) {
	#nav {
		.fa-bars {
			display: none;
		}
		ul {
    		position: relative;
    		left: auto;
    		top: auto;
    		bottom: auto;
    		right: auto;
    		padding: 0;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
			li {
				display: inline-block;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	#nav {
		ul {
			display: block;
			width: 1200px;
			margin: 0 auto;
			text-align: right;
			padding: 0;
		}
		&.light {
			ul {
				padding: 0;
			}
		}
	}
}